In [1]:
#SQLAlchemy
from sqlalchemy import create_engine
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import Column, Integer, String, Float, create_engine, inspect, func
# from sqlalchemy import Column, Integer, String, Float, create_engine, inspect, func
from sqlalchemy.orm import Session

#SQLite 
import sqlite3
from sqlite3 import Error

#Pandas & plt
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
import re
import numpy as np

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
engine = create_engine(f"sqlite:///hawaii.sqlite", echo=False)
Base = automap_base()
Base.prepare(engine, reflect = True)
inspector = inspect(engine)

In [3]:
measure = Base.classes.measure_sql

In [4]:
station = Base.classes.station_sql

In [5]:
session = Session(engine)

In [6]:
columns = inspector.get_columns('measure_sql')
for c in columns:
    print (c)

{'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 1}
{'name': 'station', 'type': VARCHAR(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'date', 'type': VARCHAR(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'prcp', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'tobs', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}

## Precipitation Analysis

In [7]:
mp = session.query(measure.date, measure.prcp).\
    filter(measure.date <= '2017-05-01').\
    filter(measure.date >= '2016-05-01').all()
# mp

In [8]:
conn = engine.connect()
mp = pd.DataFrame(mp, columns=["Date", "Prcp"])
mp.head()

         Date  Prcp
0  2016-05-01  0.00
1  2016-05-02  0.00
2  2016-05-03  0.01
3  2016-05-04  0.00
4  2016-05-05  0.13

In [9]:
# mp = mp.set_index('Date')

In [10]:
mp = mp.groupby('Date').mean()

In [11]:
# mp['index'] = range(1, len(mp) + 1)
# mp = mp.reset_index('index', drop = False)
# mp.head()

In [12]:
mp['Prcp'].plot()
labels = ['May', 'June', 'July', 'August', 'September', 'October', 'November', 'December', 'January', 'February', 'March','April']
locs = [0,30, 60, 90, 120, 150, 180, 210, 240, 270, 300, 330, 360]
plt.xticks(locs, labels, rotation=20)
plt.xticks(rotation='45')
plt.tight_layout()
plt.show

In [13]:
# plot.set_xticklabels(mp.index)

In [14]:
# list(np.ravel)

## Station Analysis

In [15]:
total_stations = session.query(station.station).count()
print(f"The Total Stations Collecting data is {total_stations}")

The Total Stations Collecting data is 9

In [16]:
ts = session.query(measure.station, measure.date).all()
# ts

In [17]:
station_count = pd.DataFrame(ts)
group_station = station_count.groupby('station').count()
sort_station = group_station.sort_values('date', ascending=False, inplace=False)
sort_station

             date
station
USC00519281  2772
USC00513117  2696
USC00519397  2685
USC00519523  2572
USC00516128  2484
USC00514830  1937
USC00511918  1932
USC00517948   683
USC00518838   342

USC00519281 has the highest number of observations.

In [18]:
tobs_stations = session.query(measure.date, measure.station, measure.tobs).\
    filter(measure.date <= '2017-05-01').\
    filter(measure.date >= '2016-05-01').\
    filter(measure.station == 'USC00519281').all()
tobs_stations

[('2016-05-01', 'USC00519281', 75.0),
 ('2016-05-02', 'USC00519281', 73.0),
 ('2016-05-03', 'USC00519281', 74.0),
 ('2016-05-04', 'USC00519281', 72.0),
 ('2016-05-05', 'USC00519281', 68.0),
 ('2016-05-06', 'USC00519281', 66.0),
 ('2016-05-07', 'USC00519281', 69.0),
 ('2016-05-08', 'USC00519281', 67.0),
 ('2016-05-09', 'USC00519281', 68.0),
 ('2016-05-10', 'USC00519281', 68.0),
 ('2016-05-11', 'USC00519281', 67.0),
 ('2016-05-12', 'USC00519281', 65.0),
 ('2016-05-13', 'USC00519281', 68.0),
 ('2016-05-14', 'USC00519281', 70.0),
 ('2016-05-15', 'USC00519281', 76.0),
 ('2016-05-16', 'USC00519281', 75.0),
 ('2016-05-17', 'USC00519281', 75.0),
 ('2016-05-18', 'USC00519281', 72.0),
 ('2016-05-19', 'USC00519281', 75.0),
 ('2016-05-20', 'USC00519281', 72.0),
 ('2016-05-21', 'USC00519281', 76.0),
 ('2016-05-22', 'USC00519281', 76.0),
 ('2016-05-23', 'USC00519281', 74.0),
 ('2016-05-24', 'USC00519281', 69.0),
 ('2016-05-25', 'USC00519281', 71.0),
 ('2016-05-26', 'USC00519281', 74.0),
 ('2016-05-27', 'USC00519281', 75.0),
 ('2016-05-28', 'USC00519281', 72.0),
 ('2016-05-29', 'USC00519281', 74.0),
 ('2016-05-30', 'USC00519281', 70.0),
 ('2016-05-31', 'USC00519281', 70.0),
 ('2016-06-01', 'USC00519281', 69.0),
 ('2016-06-02', 'USC00519281', 67.0),
 ('2016-06-03', 'USC00519281', 68.0),
 ('2016-06-04', 'USC00519281', 65.0),
 ('2016-06-05', 'USC00519281', 70.0),
 ('2016-06-06', 'USC00519281', 72.0),
 ('2016-06-07', 'USC00519281', 74.0),
 ('2016-06-08', 'USC00519281', 73.0),
 ('2016-06-09', 'USC00519281', 71.0),
 ('2016-06-10', 'USC00519281', 75.0),
 ('2016-06-11', 'USC00519281', 72.0),
 ('2016-06-12', 'USC00519281', 75.0),
 ('2016-06-13', 'USC00519281', 76.0),
 ('2016-06-14', 'USC00519281', 75.0),
 ('2016-06-15', 'USC00519281', 76.0),
 ('2016-06-16', 'USC00519281', 75.0),
 ('2016-06-17', 'USC00519281', 71.0),
 ('2016-06-18', 'USC00519281', 75.0),
 ('2016-06-19', 'USC00519281', 75.0),
 ('2016-06-20', 'USC00519281', 72.0),
 ('2016-06-21', 'USC00519281', 72.0),
 ('2016-06-22', 'USC00519281', 75.0),
 ('2016-06-23', 'USC00519281', 73.0),
 ('2016-06-24', 'USC00519281', 76.0),
 ('2016-06-25', 'USC00519281', 74.0),
 ('2016-06-26', 'USC00519281', 77.0),
 ('2016-06-27', 'USC00519281', 72.0),
 ('2016-06-28', 'USC00519281', 71.0),
 ('2016-06-29', 'USC00519281', 76.0),
 ('2016-06-30', 'USC00519281', 77.0),
 ('2016-07-01', 'USC00519281', 76.0),
 ('2016-07-02', 'USC00519281', 79.0),
 ('2016-07-03', 'USC00519281', 76.0),
 ('2016-07-04', 'USC00519281', 79.0),
 ('2016-07-05', 'USC00519281', 75.0),
 ('2016-07-06', 'USC00519281', 74.0),
 ('2016-07-07', 'USC00519281', 73.0),
 ('2016-07-08', 'USC00519281', 78.0),
 ('2016-07-09', 'USC00519281', 80.0),
 ('2016-07-10', 'USC00519281', 72.0),
 ('2016-07-11', 'USC00519281', 79.0),
 ('2016-07-12', 'USC00519281', 80.0),
 ('2016-07-13', 'USC00519281', 76.0),
 ('2016-07-14', 'USC00519281', 80.0),
 ('2016-07-15', 'USC00519281', 80.0),
 ('2016-07-16', 'USC00519281', 73.0),
 ('2016-07-17', 'USC00519281', 77.0),
 ('2016-07-18', 'USC00519281', 78.0),
 ('2016-07-19', 'USC00519281', 79.0),
 ('2016-07-20', 'USC00519281', 80.0),
 ('2016-07-21', 'USC00519281', 79.0),
 ('2016-07-22', 'USC00519281', 78.0),
 ('2016-07-23', 'USC00519281', 75.0),
 ('2016-07-24', 'USC00519281', 76.0),
 ('2016-07-25', 'USC00519281', 78.0),
 ('2016-07-26', 'USC00519281', 78.0),
 ('2016-07-27', 'USC00519281', 80.0),
 ('2016-07-28', 'USC00519281', 81.0),
 ('2016-07-29', 'USC00519281', 80.0),
 ('2016-07-30', 'USC00519281', 77.0),
 ('2016-07-31', 'USC00519281', 75.0),
 ('2016-08-01', 'USC00519281', 76.0),
 ('2016-08-02', 'USC00519281', 76.0),
 ('2016-08-03', 'USC00519281', 77.0),
 ('2016-08-04', 'USC00519281', 77.0),
 ('2016-08-05', 'USC00519281', 81.0),
 ('2016-08-06', 'USC00519281', 78.0),
 ('2016-08-07', 'USC00519281', 78.0),
 ('2016-08-08', 'USC00519281', 81.0),
 ('2016-08-09', 'USC00519281', 81.0),
 ('2016-08-10', 'USC00519281', 82.0),
 ('2016-08-11', 'USC00519281', 80.0),
 ('2016-08-12', 'USC00519281', 76.0),
 ('2016-08-13', 'USC00519281', 80.0),
 ('2016-08-14', 'USC00519281', 76.0),
 ('2016-08-15', 'USC00519281', 75.0),
 ('2016-08-16', 'USC00519281', 74.0),
 ('2016-08-17', 'USC00519281', 82.0),
 ('2016-08-18', 'USC00519281', 80.0),
 ('2016-08-19', 'USC00519281', 79.0),
 ('2016-08-20', 'USC00519281', 81.0),
 ('2016-08-21', 'USC00519281', 79.0),
 ('2016-08-22', 'USC00519281', 78.0),
 ('2016-08-23', 'USC00519281', 77.0),
 ('2016-08-24', 'USC00519281', 77.0),
 ('2016-08-25', 'USC00519281', 80.0),
 ('2016-08-26', 'USC00519281', 80.0),
 ('2016-08-27', 'USC00519281', 75.0),
 ('2016-08-28', 'USC00519281', 73.0),
 ('2016-08-29', 'USC00519281', 78.0),
 ('2016-08-30', 'USC00519281', 77.0),
 ('2016-08-31', 'USC00519281', 78.0),
 ('2016-09-01', 'USC00519281', 80.0),
 ('2016-09-02', 'USC00519281', 80.0),
 ('2016-09-03', 'USC00519281', 78.0),
 ('2016-09-04', 'USC00519281', 78.0),
 ('2016-09-05', 'USC00519281', 78.0),
 ('2016-09-06', 'USC00519281', 73.0),
 ('2016-09-07', 'USC00519281', 74.0),
 ('2016-09-08', 'USC00519281', 80.0),
 ('2016-09-09', 'USC00519281', 79.0),
 ('2016-09-10', 'USC00519281', 77.0),
 ('2016-09-11', 'USC00519281', 80.0),
 ('2016-09-12', 'USC00519281', 76.0),
 ('2016-09-13', 'USC00519281', 79.0),
 ('2016-09-14', 'USC00519281', 75.0),
 ('2016-09-15', 'USC00519281', 79.0),
 ('2016-09-16', 'USC00519281', 78.0),
 ('2016-09-17', 'USC00519281', 79.0),
 ('2016-09-18', 'USC00519281', 78.0),
 ('2016-09-19', 'USC00519281', 78.0),
 ('2016-09-20', 'USC00519281', 76.0),
 ('2016-09-21', 'USC00519281', 74.0),
 ('2016-09-22', 'USC00519281', 77.0),
 ('2016-09-23', 'USC00519281', 78.0),
 ('2016-09-24', 'USC00519281', 79.0),
 ('2016-09-25', 'USC00519281', 79.0),
 ('2016-09-26', 'USC00519281', 77.0),
 ('2016-09-27', 'USC00519281', 80.0),
 ('2016-09-28', 'USC00519281', 78.0),
 ('2016-09-29', 'USC00519281', 78.0),
 ('2016-09-30', 'USC00519281', 78.0),
 ('2016-10-01', 'USC00519281', 77.0),
 ('2016-10-02', 'USC00519281', 79.0),
 ('2016-10-03', 'USC00519281', 79.0),
 ('2016-10-04', 'USC00519281', 79.0),
 ('2016-10-05', 'USC00519281', 79.0),
 ('2016-10-06', 'USC00519281', 75.0),
 ('2016-10-07', 'USC00519281', 76.0),
 ('2016-10-08', 'USC00519281', 73.0),
 ('2016-10-09', 'USC00519281', 72.0),
 ('2016-10-10', 'USC00519281', 71.0),
 ('2016-10-11', 'USC00519281', 77.0),
 ('2016-10-12', 'USC00519281', 79.0),
 ('2016-10-13', 'USC00519281', 78.0),
 ('2016-10-14', 'USC00519281', 79.0),
 ('2016-10-15', 'USC00519281', 77.0),
 ('2016-10-16', 'USC00519281', 79.0),
 ('2016-10-17', 'USC00519281', 77.0),
 ('2016-10-18', 'USC00519281', 78.0),
 ('2016-10-19', 'USC00519281', 78.0),
 ('2016-10-20', 'USC00519281', 78.0),
 ('2016-10-21', 'USC00519281', 78.0),
 ('2016-10-22', 'USC00519281', 77.0),
 ('2016-10-23', 'USC00519281', 74.0),
 ('2016-10-24', 'USC00519281', 75.0),
 ('2016-10-25', 'USC00519281', 76.0),
 ('2016-10-26', 'USC00519281', 73.0),
 ('2016-10-27', 'USC00519281', 76.0),
 ('2016-10-28', 'USC00519281', 74.0),
 ('2016-10-29', 'USC00519281', 77.0),
 ('2016-10-30', 'USC00519281', 76.0),
 ('2016-10-31', 'USC00519281', 76.0),
 ('2016-11-01', 'USC00519281', 74.0),
 ('2016-11-02', 'USC00519281', 75.0),
 ('2016-11-03', 'USC00519281', 75.0),
 ('2016-11-04', 'USC00519281', 75.0),
 ('2016-11-05', 'USC00519281', 75.0),
 ('2016-11-06', 'USC00519281', 71.0),
 ('2016-11-07', 'USC00519281', 63.0),
 ('2016-11-08', 'USC00519281', 70.0),
 ('2016-11-09', 'USC00519281', 68.0),
 ('2016-11-10', 'USC00519281', 67.0),
 ('2016-11-11', 'USC00519281', 77.0),
 ('2016-11-12', 'USC00519281', 74.0),
 ('2016-11-13', 'USC00519281', 77.0),
 ('2016-11-14', 'USC00519281', 76.0),
 ('2016-11-15', 'USC00519281', 76.0),
 ('2016-11-16', 'USC00519281', 75.0),
 ('2016-11-17', 'USC00519281', 76.0),
 ('2016-11-18', 'USC00519281', 75.0),
 ('2016-11-19', 'USC00519281', 73.0),
 ('2016-11-20', 'USC00519281', 75.0),
 ('2016-11-21', 'USC00519281', 73.0),
 ('2016-11-22', 'USC00519281', 75.0),
 ('2016-11-23', 'USC00519281', 74.0),
 ('2016-11-24', 'USC00519281', 75.0),
 ('2016-11-25', 'USC00519281', 74.0),
 ('2016-11-26', 'USC00519281', 75.0),
 ('2016-11-27', 'USC00519281', 73.0),
 ('2016-11-28', 'USC00519281', 75.0),
 ('2016-11-29', 'USC00519281', 73.0),
 ('2016-11-30', 'USC00519281', 73.0),
 ('2016-12-01', 'USC00519281', 74.0),
 ('2016-12-02', 'USC00519281', 70.0),
 ('2016-12-03', 'USC00519281', 72.0),
 ('2016-12-04', 'USC00519281', 70.0),
 ('2016-12-05', 'USC00519281', 67.0),
 ('2016-12-06', 'USC00519281', 67.0),
 ('2016-12-07', 'USC00519281', 69.0),
 ('2016-12-08', 'USC00519281', 70.0),
 ('2016-12-09', 'USC00519281', 68.0),
 ('2016-12-10', 'USC00519281', 69.0),
 ('2016-12-11', 'USC00519281', 69.0),
 ('2016-12-12', 'USC00519281', 66.0),
 ('2016-12-13', 'USC00519281', 65.0),
 ('2016-12-14', 'USC00519281', 68.0),
 ('2016-12-15', 'USC00519281', 62.0),
 ('2016-12-16', 'USC00519281', 75.0),
 ('2016-12-17', 'USC00519281', 70.0),
 ('2016-12-18', 'USC00519281', 69.0),
 ('2016-12-19', 'USC00519281', 76.0),
 ('2016-12-20', 'USC00519281', 76.0),
 ('2016-12-21', 'USC00519281', 74.0),
 ('2016-12-22', 'USC00519281', 73.0),
 ('2016-12-23', 'USC00519281', 71.0),
 ('2016-12-24', 'USC00519281', 74.0),
 ('2016-12-25', 'USC00519281', 74.0),
 ('2016-12-26', 'USC00519281', 72.0),
 ('2016-12-27', 'USC00519281', 71.0),
 ('2016-12-28', 'USC00519281', 72.0),
 ('2016-12-29', 'USC00519281', 74.0),
 ('2016-12-30', 'USC00519281', 69.0),
 ('2016-12-31', 'USC00519281', 67.0),
 ('2017-01-01', 'USC00519281', 72.0),
 ('2017-01-02', 'USC00519281', 70.0),
 ('2017-01-03', 'USC00519281', 64.0),
 ('2017-01-04', 'USC00519281', 63.0),
 ('2017-01-05', 'USC00519281', 63.0),
 ('2017-01-06', 'USC00519281', 62.0),
 ('2017-01-07', 'USC00519281', 70.0),
 ('2017-01-08', 'USC00519281', 70.0),
 ('2017-01-09', 'USC00519281', 62.0),
 ('2017-01-10', 'USC00519281', 62.0),
 ('2017-01-11', 'USC00519281', 63.0),
 ('2017-01-12', 'USC00519281', 65.0),
 ('2017-01-13', 'USC00519281', 69.0),
 ('2017-01-14', 'USC00519281', 77.0),
 ('2017-01-15', 'USC00519281', 70.0),
 ('2017-01-16', 'USC00519281', 74.0),
 ('2017-01-17', 'USC00519281', 69.0),
 ('2017-01-18', 'USC00519281', 72.0),
 ('2017-01-19', 'USC00519281', 71.0),
 ('2017-01-20', 'USC00519281', 69.0),
 ('2017-01-21', 'USC00519281', 71.0),
 ('2017-01-22', 'USC00519281', 71.0),
 ('2017-01-23', 'USC00519281', 72.0),
 ('2017-01-24', 'USC00519281', 72.0),
 ('2017-01-25', 'USC00519281', 69.0),
 ('2017-01-26', 'USC00519281', 70.0),
 ('2017-01-27', 'USC00519281', 66.0),
 ('2017-01-28', 'USC00519281', 65.0),
 ('2017-01-29', 'USC00519281', 69.0),
 ('2017-01-30', 'USC00519281', 68.0),
 ('2017-01-31', 'USC00519281', 68.0),
 ('2017-02-01', 'USC00519281', 68.0),
 ('2017-02-02', 'USC00519281', 59.0),
 ('2017-02-03', 'USC00519281', 60.0),
 ('2017-02-04', 'USC00519281', 70.0),
 ('2017-02-05', 'USC00519281', 73.0),
 ('2017-02-06', 'USC00519281', 75.0),
 ('2017-02-07', 'USC00519281', 64.0),
 ('2017-02-08', 'USC00519281', 59.0),
 ('2017-02-09', 'USC00519281', 59.0),
 ('2017-02-10', 'USC00519281', 62.0),
 ('2017-02-11', 'USC00519281', 68.0),
 ('2017-02-12', 'USC00519281', 70.0),
 ('2017-02-13', 'USC00519281', 73.0),
 ('2017-02-14', 'USC00519281', 79.0),
 ('2017-02-15', 'USC00519281', 75.0),
 ('2017-02-16', 'USC00519281', 65.0),
 ('2017-02-17', 'USC00519281', 70.0),
 ('2017-02-18', 'USC00519281', 74.0),
 ('2017-02-19', 'USC00519281', 70.0),
 ('2017-02-20', 'USC00519281', 70.0),
 ('2017-02-21', 'USC00519281', 71.0),
 ('2017-02-22', 'USC00519281', 71.0),
 ('2017-02-23', 'USC00519281', 71.0),
 ('2017-02-24', 'USC00519281', 69.0),
 ('2017-02-25', 'USC00519281', 61.0),
 ('2017-02-26', 'USC00519281', 67.0),
 ('2017-02-27', 'USC00519281', 65.0),
 ('2017-02-28', 'USC00519281', 72.0),
 ('2017-03-01', 'USC00519281', 71.0),
 ('2017-03-02', 'USC00519281', 73.0),
 ('2017-03-03', 'USC00519281', 72.0),
 ('2017-03-04', 'USC00519281', 77.0),
 ('2017-03-05', 'USC00519281', 73.0),
 ('2017-03-06', 'USC00519281', 67.0),
 ('2017-03-07', 'USC00519281', 62.0),
 ('2017-03-08', 'USC00519281', 64.0),
 ('2017-03-09', 'USC00519281', 67.0),
 ('2017-03-10', 'USC00519281', 66.0),
 ('2017-03-11', 'USC00519281', 81.0),
 ('2017-03-12', 'USC00519281', 69.0),
 ('2017-03-13', 'USC00519281', 66.0),
 ('2017-03-14', 'USC00519281', 67.0),
 ('2017-03-15', 'USC00519281', 69.0),
 ('2017-03-16', 'USC00519281', 66.0),
 ('2017-03-17', 'USC00519281', 68.0),
 ('2017-03-18', 'USC00519281', 65.0),
 ('2017-03-19', 'USC00519281', 74.0),
 ('2017-03-20', 'USC00519281', 69.0),
 ('2017-03-21', 'USC00519281', 72.0),
 ('2017-03-22', 'USC00519281', 73.0),
 ('2017-03-23', 'USC00519281', 72.0),
 ('2017-03-24', 'USC00519281', 71.0),
 ('2017-03-25', 'USC00519281', 76.0),
 ('2017-03-26', 'USC00519281', 77.0),
 ('2017-03-27', 'USC00519281', 76.0),
 ('2017-03-28', 'USC00519281', 74.0),
 ('2017-03-29', 'USC00519281', 68.0),
 ('2017-03-30', 'USC00519281', 73.0),
 ('2017-03-31', 'USC00519281', 71.0),
 ('2017-04-01', 'USC00519281', 74.0),
 ('2017-04-02', 'USC00519281', 75.0),
 ('2017-04-03', 'USC00519281', 70.0),
 ('2017-04-04', 'USC00519281', 67.0),
 ('2017-04-05', 'USC00519281', 71.0),
 ('2017-04-06', 'USC00519281', 67.0),
 ('2017-04-07', 'USC00519281', 74.0),
 ('2017-04-08', 'USC00519281', 77.0),
 ('2017-04-09', 'USC00519281', 78.0),
 ('2017-04-10', 'USC00519281', 67.0),
 ('2017-04-11', 'USC00519281', 70.0),
 ('2017-04-12', 'USC00519281', 69.0),
 ('2017-04-13', 'USC00519281', 69.0),
 ('2017-04-14', 'USC00519281', 74.0),
 ('2017-04-15', 'USC00519281', 78.0),
 ('2017-04-16', 'USC00519281', 71.0),
 ('2017-04-17', 'USC00519281', 67.0),
 ('2017-04-18', 'USC00519281', 68.0),
 ('2017-04-19', 'USC00519281', 67.0),
 ('2017-04-20', 'USC00519281', 76.0),
 ('2017-04-21', 'USC00519281', 69.0),
 ('2017-04-22', 'USC00519281', 72.0),
 ('2017-04-23', 'USC00519281', 76.0),
 ('2017-04-24', 'USC00519281', 68.0),
 ('2017-04-25', 'USC00519281', 72.0),
 ('2017-04-26', 'USC00519281', 74.0),
 ('2017-04-27', 'USC00519281', 70.0),
 ('2017-04-28', 'USC00519281', 67.0),
 ('2017-04-29', 'USC00519281', 72.0),
 ('2017-04-30', 'USC00519281', 60.0),
 ('2017-05-01', 'USC00519281', 65.0)]

In [19]:
USC00519281 = pd.DataFrame(tobs_stations)
USC00519281.head()

         date      station  tobs
0  2016-05-01  USC00519281  75.0
1  2016-05-02  USC00519281  73.0
2  2016-05-03  USC00519281  74.0
3  2016-05-04  USC00519281  72.0
4  2016-05-05  USC00519281  68.0

In [20]:
group_tobs = USC00519281.sort_values(['tobs', 'date'], ascending=False).groupby('tobs').count()
group_tobs.head()

      date  station
tobs
59.0     3        3
60.0     2        2
61.0     1        1
62.0     6        6
63.0     4        4

In [21]:
# bins = [57.5, 60, 62.5, 65, 67.5, 70, 72.5, 75, 77.5, 80, 82.5, 85]
# plt.bar(group_tobs.index, group_tobs.date)
# plt.xlabel('Temperature')
# plt.ylabel('Frequency')

In [22]:
plt.hist(USC00519281.tobs, bins = 12)
plt.xlabel('Temperature')
plt.ylabel('Frequency')

Text(36.625,0.5,'Frequency')

## Temperature Analysis

In [23]:
def calc_temps(start_date, end_date):
    if re.match(r'[0-9]{4}-[0-9]{2}-[0-9]{2}$', start_date) and re.match(r'[0-9]{4}-[0-9]{2}-[0-9]{2}$', end_date):
        return session.query(func.min(measure.tobs), func.max(measure.tobs), func.avg(measure.tobs)).\
        filter(measure.date <= end_date).\
        filter(measure.date >= start_date).all()[0]
    else:
        return 'Invalid date format, please enter again'

In [ ]:
start_date = input("Please enter a start date in the format of YYYY-MM-DD")
end_date = input("Please enter a end date in the format of YYYY-MM-DD")

In [25]:
tmin, tmax, tavg = calc_temps(start_date, end_date)

ValueError: too many values to unpack (expected 3)

In [ ]:
plt.boxplot([tmin, tmax, tavg])

In [ ]:
tmin, tmax, tavg